.modalContent
  padding 0 18px
  max-height 70vh
  min-width 700px
  overflow auto

.modalContentRow:not(:last-child)
  padding-bottom 15px

.json
  padding 16px
  position relative

.copy
  position absolute
  top 6px
  right 6px
  z-index 10

.image, .json
  width 100%
  border-radius 16px
  margin-top 4px
  border 1px var(--gray-color-table) solid

.pre
  white-space pre-wrap

.infoKey
  color var(--gray-color-table)