.contentContainer
  padding-left 300px

.bold
  font-family 'Proxima Nova Bold'

.gray
  color var(--gray-color-table)

.filtersPanel
  width 300px
  position fixed
  left 0
  top 0
  bottom 0
  border-right 1px var(--gray-color-border) solid
  padding 40px

.filter
  margin-bottom 20px

.bottomButton
  position absolute
  bottom 40px
  left 40px
  width calc(100% - 80px)
  text-align center

  span
    width 100%
    text-align center

.tableContainer
  padding 36px 40px 0

.modalContent
  padding 0 18px
  max-height 70vh
  min-width 700px
  overflow auto

.modalContentRow:not(:last-child)
  padding-bottom 15px

.infoKey
  color var(--gray-color-table)

.image, .json
  width 100%
  border-radius 16px
  margin-top 4px
  border 1px var(--gray-color-table) solid

.json
  padding 16px
  position relative

.copy
  position absolute
  top 6px
  right 6px
  z-index 10

.spinner
  position absolute
  top 50%
  left 50%
  margin-top -26px
  margin-left -26px

.pre
  white-space pre-wrap

.buttonFull
  width 100%

  span
    width 100%
    text-align center

.filterContainer
  position relative

.filterClear
  position absolute
  top 0
  right -38px

.nowrap
  white-space nowrap

.tablePlaceholder
  position absolute
  top 50%
  left calc(50% + 150px)
  font-size 36px
  transform translate(-50%, -50%)
  color var(--default-color)

.table
  margin-top 10px