.App
  text-align center

.contentContainer
  padding-left 300px

.bold
  font-weight bold

.gray
  color var(--gray-color-table)

.filtersPanel
  width 300px
  position fixed
  left 0
  top 0
  bottom 0
  border-right 1px var(--gray-color-border) solid
  padding 40px

.filter
  margin-bottom 20px

.bottomButton
  position absolute
  bottom 40px
  left 40px
  width calc(100% - 80px)
  text-align center

  span
    width 100%
    text-align center

.tableContainer
  padding 36px 40px 0

.authContainer
  position absolute
  top 50%
  left 50%
  transform translate(-50%, -50%)

.logo
  width 150px
  display block
  margin 0 auto 50px

.errorStatus
  font-size 20px
  margin-bottom 10px

.errorMessage
  margin-bottom 50px

.spinner
  position absolute
  top 50%
  left 50%
  margin-top -26px
  margin-left -26px

.buttonFull
  width 100%

  span
    width 100%
    text-align center

.filterContainer
  position relative

.filterClear
  position absolute
  top 0
  right -38px

.nowrap
  white-space nowrap

.tablePlaceholder
  position absolute
  top 50%
  left calc(50% + 150px)
  font-size 36px
  transform translate(-50%, -50%)
  color var(--default-color)

.tabs
  margin 40px 0 0 340px

.filtersPanel
  width 300px
  position fixed
  left 0
  top 0
  bottom 0
  border-right 1px var(--gray-color-border) solid
  padding 40px
  z-index -1